#film-types{
    height: 80vh;
    display: flex;
    align-items: center;
}

.submit-card{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.hidden{
    display: none;
}

.film-type-sel{
    background-color: white;
    width:93%;   
}

.film-type-sel:hover{
    background-color: white;
}

.form-link-btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.submit-film-card-body{
    background-color: white;
    width:93%;   
}